 .copywrite {
     color: white;
 }

 .repo {
     opacity: 0.5;
     img {
         max-width: 12px;
     }
 }

 .schedule {
     border: 5px solid #00ffb7;
     background: #00f3ae;
     padding: 1rem;
     border-radius: 3rem;
     color: white;
     font-size: 1.5rem;
     font-weight: 800;
 }

 .alt-bg {
     left: 0;
     top: 0px;
     width: 100vw;
     position: fixed;
     z-index: 0;
 }

 .alt-bg1 {
     left: 400px;
     top: 0px;
     position: fixed;
     width: 300px;
     z-index: -1;
     opacity: 0.1;
 }

 .schedule-div {
     margin: 2rem 0;
 }

 .spacer {
     height: 5rem;
 }

 .header-button {
     background: rgb(0, 255, 183);
     border-radius: 100px;
     color: white;
     border: none;
     font-weight: 600;
     padding: 0.3rem 1rem 0.5rem 1rem;
     font-size: 1.5rem;
 }

 .header-button-empty {
     background: none;
     border-radius: 100px;
     box-shadow: 0 0 0 4px white inset;
     color: white;
     border: none;
     font-weight: 600;
     padding: 0.3rem 1rem 0.5rem 1rem;
     font-size: 1.5rem;
 }

 .quote {
     padding: 2rem;
     color: white;
     /* font-family: Avenir, Helvetica-Neue; */
     font-weight: 400;
     font-style: normal;
     font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
     font-size: 35px;
     width: 60vw;
     margin: auto;
 }

 .logo {
     width: 10rem;
 }

 .squiggle {
     width: 300px;
     padding: 3rem;
 }

 .profile-logo {
     width: 16rem;
 }

 .title {
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }

 .header {
     position: relative;
     z-index: 2;
     padding: 2rem 0rem;
     margin: 0px;
     text-align: center;
 }

 .headline {
     color: white;
     font-size: 3rem;
     padding: 2rem;
     font-weight: 100;
 }

 .contact {
     position: relative;
     z-index: 2;
     width: 100%;
     background: rgb(24, 24, 24);
     margin: 0px;
     padding: 1rem 0;
     li {
         padding: 1rem;
     }
 }

 .headline span {
     padding: 1rem;
 }

 .name {
     color: white;
     font-weight: 900;
     font-size: 4rem;
     text-align: left;
     padding-left: 2rem;
 }

 .socials {
     position: relative;
     z-index: 2;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     width: 70vw;
     margin: auto;
     padding: 3rem;
     * {
         max-width: 70px;
     }
 }

 .hidden {
     opacity: 0;
 }

 .hidden-right {
     transform: translate(50px, 0);
 }

 .hidden-right-fast {
     transform: translate(30px, 0);
 }

 .hidden-up {
     transform: translate(0, 50px);
 }

 .hidden-up-fast {
     transform: translate(0, 30px);
 }

 .hidden-left {
     transform: translate(-50px, 0);
 }

 .hidden-left-fast {
     transform: translate(-30px, 0);
 }

 .showElement {
     opacity: 1;
     transform: translate(0, 0);
     transition: all 0.5s ease-out;
 }

 .showElement-fast {
     opacity: 1;
     transform: translate(0, 0);
     transition: all 1s ease-out;
 }

 .showElement-slow {
     opacity: 1;
     transform: translate(0, 0);
     transition: all 1.3s ease-out;
 }

 @media screen and (max-device-width: 1024px) {
     .spacer {
         height: 3rem;
     }
     .schedule {
         position: relative;
         font-size: 1rem;
         padding: 0.5rem;
         border: solid 3px #00ffb7;
         bottom: 0;
     }
     .headline {
         font-size: 2.5rem;
         padding: 3rem 0.5rem;
         span {
             padding: 0;
         }
     }
     .name {
         font-size: 3.5rem;
         text-align: center;
         padding: 10px;
     }
     .title {
         flex-wrap: wrap;
     }
     .text {
     }
     .quote {
         padding: 1rem;
         width: auto;
     }
     .socials {
         padding: 1rem;
         width: 90vw;
         * {
             width: 30px;
         }
     }
     .alt-bg {
         width: 1000px;
     }
 }

 body {
     height: 100%;
     background: #340099;
     margin: 0px;
     padding: 0px;
 }

 h1 {
     color: white;
     font-weight: 800;
 }

 h2 {
     color: rgba(255, 255, 255, 0.719);
 }

 a {
     cursor: pointer;
     text-decoration: none;
     color: inherit;
 }

 button {
     cursor: pointer;
 }

 li {
     list-style: none;
 }

 @media screen and (max-device-width: 1024px) {
     body {
         background: #340099;
     }
     #app {
         background-position: -200px 200px;
     }
 }

 @keyframes hvr-bob {
     0% {
         transform: translateY(-8px) skew(-2deg, 2deg);
     }
     50% {
         transform: translateY(-4px) skew(-2deg, 2deg);
     }
     100% {
         transform: skew(-2deg, 2deg) translateY(-8px);
     }
 }

 @keyframes hvr-shake {
     0% {
         transform: translateX(0) rotate(0);
     }
     50% {
         transform: translateX(10px) rotate(-30deg);
     }
     100% {
         transform: translateX(0) rotate(0);
     }
 }

 .hvr-shake {
     animation: hvr-shake 2s 0.3s ease-in-out infinite;
 }

 .hvr-bob {
     animation: hvr-bob 2s 0.3s ease-in-out infinite;
     text-shadow: 0px 0px 10px black;
 }